
// Centered Content (default: on)
// ============================================================================

// Limit the maximum width of the main content, and center it

body:not([data-sw-#{$opt-centered-content}=false]) {
	@media (min-width: 960px) {
		#firstHeading {
			margin-top: 40px;
		}

		/* Max width & center for content container */
		#firstHeading,
		#bodyContent {
			max-width: 1000px;
		}

		/* Max width for main text */
		.mw-parser-output p {
			margin-bottom: 15px;
			max-width: 800px;
		}
	}

	@media (min-width: 1300px) {
		/* Center + move left slightly, to compensate for sidebar */
		#firstHeading,
		#bodyContent {
			margin-left: calc((100% - 1000px) / 2.5);
		}
	}
}
