
// Fix Small Responsiveness (default: on)
// ============================================================================

// Better responsiveness at small widths
// Hide the sidebar at small widths

body:not([data-sw-#{$opt-fix-small-responsive}=false]) {
	@media (max-width: 959px) {
		#content {
			margin-left: 0;
		}

		#left-navigation {
			display: none;
		}

		#mw-navigation #mw-panel {
			display: none;
		}
	}
}
