
// Settings
// ============================================================================

$opt-sticky-toc:           "sticky-toc";
$opt-centered-content:     "centered-content";
$opt-visual-declutter:     "visual-declutter";
$opt-fix-table-align:      "fix-table-align";
$opt-fix-small-responsive: "fix-small-responsive";

$opt-hide-user:            "hide-user";
$opt-hide-indicators:      "hide-indicators";
$opt-hide-site-notices:    "hide-site-notices";
$opt-hide-donate-nag:      "hide-donate-nag";
