
// Sticky Sidebar TOC (default: on)
// ============================================================================

body:not([data-sw-#{$opt-sticky-toc}=false]) {
	@media (min-width: 960px) {
		#content {
			margin-left: 250px;
		}

		#bodyContent {
			position: static;
		}

		#toc {
			border: 0;
			box-sizing: border-box;
			display: block;
			height: calc(100vh);
			left: 0;
			overflow: auto;
			padding: 10px;
			position: fixed;
			resize: horizontal;
			top: 0;
			width: 250px; // shows vanilla 1px border. Set to 251 to cover it
			z-index: 10;
		}

		/* Hide main sidebar */
		#mw-panel {
			display: none;
		}

		#left-navigation {
			display: none;
		}
	}
}
