
// Hide Features (default: off)
// ============================================================================

// Hide user actions
body[data-sw-#{$opt-hide-user}=true] {
	#mw-head-base {
		height: 2.5em;
	}

	#p-personal {
		display: none;
	}

	#right-navigation {
		margin-top: 0;
	}
}

// Hide indicators
body[data-sw-#{$opt-hide-indicators}=true] {
	.mw-indicators.mw-body-content {
		display: none;
	}

	// #mw-indicator-pp-default {}
	// #mw-indicator-spoken-icon {}
}

// Hide site notices
body[data-sw-#{$opt-hide-site-notices}=true] {
	#siteNotice {
		display: none;
	}
}

// Hide donation nag
body[data-sw-#{$opt-hide-donate-nag}=true] {
	#frb-inline {
		display: none;
	}
}
