
// Table Alignment Fix (default: off)
// ============================================================================

// Align text to the top/left of each cell
// Crazy how much this increases readability

body[data-sw-#{$opt-fix-table-align}=true] {
	.wikitable td,
	.wikitable th {
		vertical-align: top;
	}

	.wikitable > tr > th,
	.wikitable > * > tr > th {
		text-align: left;
	}
}
