
/// Set styles for a given user option
///
/// @example  @include option('redtext', 'true') { body{color: red;} }
///
/// @content  Option styles
///
/// @param  {string}  $name     Option name
/// @param  {bool}    $enabled  Bool for enabled stats, true = enabled (checked), false = disabled (unchecked)
/// @param  {bool}    $and      True if using within an existing option mixin (ie. "andoption"), used to stack options
@mixin option($name, $enabled, $and:false) {
	$top-level-selector: 'body';
	$enabled-str: 'true';

	// accept bools
	@if $enabled == true {
		$enabled-str: 'true';
	}
	@else {
		@if $enabled == false {
			$enabled-str: 'false';
		}
	}

	@if $and == false {
		#{$top-level-selector}.option-#{$name}-#{$enabled} {
			@content;
		}
	}
	@else {
		&.option-#{$name}-#{$enabled} {
			@content;
		}
	}
}