
// Vars
// ============================================================================

$base-font-size: 16px;
$base-font-family: Arial, Helvetica, sans-serif;

// $bg-color-outer: #50354b; // gorgeous purple
$bg-color-outer: #353f50;
$bg-color-inner: #fff;
$text-color-base: #000;
$text-color-supplemental: #888888;
$border-color: #efefef;

$container-max-width: 700px;
$container-padding: 40px;


// Global
// ============================================================================

html {
	font-size: $base-font-size;
}

body {
	background-color: $bg-color-outer;
	color: $text-color-base;
	font-family: $base-font-family;
	font-size: 16px;
	line-height: 1.4;
	padding: 40px;
}

a {
	color: inherit;
}


// Containers
// ============================================================================

main {
	background-color: $bg-color-inner;
	margin: 0 auto;
	max-width: $container-max-width;
	padding: $container-padding;
}

section + section {
	margin-top: 40px;
}


// Headings
// ============================================================================

h1 {
	font-size: 1.6em;
	margin-bottom: 20px;
	text-align: center;
}

h2 {
	border-bottom: 2px solid $border-color;
	font-size: 1.3em;
	margin-bottom: 20px;
}

h3 {
	margin-bottom: 5px;
	font-size: 1.05em;
}


// Options
// ============================================================================

.option {
	display: flex;

	+ .option {
		margin-top: 20px;
	}
}


// Option Checkbox
// ============================================================================

.checkbox-container {
	margin-right: 10px;
}

.checkbox-input {
	height: 16px;
	margin-top: 2px;
	width: 16px;
}

// .checkbox-label {}


// Option Info
// ============================================================================

// .info-container {}

.info-title {
	line-height: 22px;
}

.info-description {
	color: $text-color-supplemental;
	margin-left: 10px;
	margin-top: 10px;
}


// Submit
// ============================================================================

.submit-container {
	margin-top: 30px;
	display: flex;
	justify-content: center;
}

.submit-btn {
	background-color: #31ca8a;
	color: white;
	cursor: pointer;
	padding: 15px 20px;
}


// Footer
// ============================================================================

footer {
	background-color: #ddd;
	margin: 0 auto;
	max-width: $container-max-width;
	padding: $container-padding/2 $container-padding;
	text-align: center;
}
