<head>
	<link rel="stylesheet" href="/assets/dist/styles/popup.css" />
</head>
<body>

	<main>
		<h2>Sticky Wiki</h2>

		<button class="options">
			<span>Edit Options</span>
		</button>
	</main>

	<script src="/assets/dist/scripts/popup-bundle.min.js"></script>
</body>